#login_form{
    width: 300px;
    height: 150px;
    background-color: #f7f9fa;
    margin-top: 30px;
    border: 1px solid #dae1e6;
    padding: 20px 15px;
    font-size: 14px;
    float: right;
}
#login_bnt{
    width: 90%;
    height: 50%;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background:linear-gradient(to right, #63cded, #c7e6f4);
    font-size: 25px;
    color: rgb(0, 0, 0);
    letter-spacing: 15px;
    padding: 10px;
    padding-left: 55px;
}
#register p{
    font-size: 18px;
    margin-left: 200px;
}
#register img{
    margin-left: 180px;
    width: 20px;
}