* {
    margin: 0;
    padding: 0;
}
.form-wrap {
    width: 60%;
    height: 450px;
    position: relative;
    margin: 0% auto;
    margin-top: 20px;
    padding: 10px;
    overflow: hidden;
    background-image: url('../img/cloud.jpeg');
    border-radius: 2%;
}

.input-group {
    margin: 0 auto;
    margin-top: 100px;
    width: 280px;
}
.input-field {
    color: white;
    font-size: 25px;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    background: transparent;
}
.submit {
    font-size: 20px;
    letter-spacing: 6px;
    width: 150px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: linear-gradient(to right, #63cded, #c7e6f4);
    border-radius: 30px;
}

span {
    color: white;
    font-size: 14px;
}
::placeholder{
    color: white;
}