.form-wrap {
    width: 60%;
    height: 450px;
    position: relative;
    margin: 0% auto;
    margin-top: 20px;
    overflow: hidden;
    background-image: url('../img/cloud.jpeg');
    border-radius: 2%;
}

#register {
    margin-top: 100px;
    margin-right: 160px;
    width: 280px;
}
.input-field {
    color: white;
    font-size: 25px;
    width: 250px;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    background: transparent;
}
.submit {
    font-size: 20px;
    letter-spacing: 6px;
    width: 250px;
    height: 50px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-top: 330px;
    margin-left: -10px;
    background: linear-gradient(to right, #63cded, #c7e6f4);
    border: 0;
    outline: none;
    border-radius: 30px;
    padding-left: 41px;
    letter-spacing: 10px;
}
span {
    color: white;
    font-size: 14px;
}
::placeholder{
    color: white;
}